# Data Science Tools and Ecosystem

# Introduction
In this notebook, Data Science TTools and Ecosystem are summarized

<b>Objectives</b>
List popular languages for Data Science
- Data Scince Languages
- Data Science Libraries
- Data Science Tools
- Arithmetic Expression 
- Convert minutes into hours

## Data Scince Languages 
Some of the popular lannguage that Data Science use are:
1. R
2. Python
3. Julia 
4. SQL 
5. Scala

## Data Science Libraries 
Some of the commonly used libraries by Data Scientist include 
1. Tensorflow 
2. Pandas
3. Numpy 
4. PyTorch 
5. Matplotlib

## Data Scincce Tools 
| Data Science Tools|
|...................|
|RStudios|
|Jupyter Notebook|
|Visual Studio Code|

### Arithmetic Expression Examples 

### Below are few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to multiply then add integers

# Addition 
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60

# 200 minutes hours 
minutes =200
hours= minutes / 60
print(hours)

3.3333333333333335

## Author

PRINCE OPUNI QUANSAH